<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<title>Home</title>
<body>
    <nav class="w3-bar w3-red">
        <% if(locals.profile_name) { %>
          <a href="/" method="GET" class="w3-button w3-bar-item">Home</a>
          <a href="/games" method="GET" class="w3-button w3-bar-item">Games</a>
          <a href="/mybets" method="GET" class="w3-button w3-bar-item">My Bets</a>
          <a href="/myprofile" method="GET" class="w3-button w3-bar-item">My Profile</a>
          <a href="/logout" class="w3-button w3-bar-item">Logout</a>
        <% } else{%>
            <a href="/" method="GET" class="w3-button w3-bar-item">Home</a>
            <a href="/signup" method="GET" class="w3-button w3-bar-item">Sign Up</a>
            <a href="/login" method="GET" class="w3-button w3-bar-item">Login</a>
            <a href="/myprofile" method="GET" class="w3-button w3-bar-item">My Profile</a>
        <%} %>
        </nav>

<section>
  <img class="mySlides" src="/football.png" style="width:100%">
  <img class="mySlides" src="/basketball.png" style="width:100%">
  <img class="mySlides" src="/soccer.png" style="width:100%">
</section>

<section class="w3-container w3-center w3-content" style="max-width:600px">
    <div class="centered">
  <h2 class="w3-wide" class="centered">Queen's Online Sports Services</h2>
  <p class="w3-opacity"><i>Guess Correctly, Win Prizes</p>
  <p class="w3-justify">Welcome to the Queen's Online Sport Services, an online platform which allows fellow students to place bets on their favourite teams with a chance to win on-campus prizes.</p>
  </div>
</section>

<section class="w3-row-padding w3-center w3-light-blue">
  <article class="w3-third">
    <p>Step 1: Placing the bet</p>
    <img src="raffle_tickets.jpeg" alt="Part 1" style="width:80%">
    <p>Pick which team will win the match in any varsity sport </p>  </article>
  <article class="w3-third">
    <p>Step 2: Wait and see for game results</p>
    <img src="trophy.png" alt="Part 2" style="width:80%">
    <p>If the correct bet was made, you earn points within your account</p>
  </article>
  <article class="w3-third">
    <p>Step 3: Spend your points!</p>
    <img src="ClarkHall.png" alt="Part 2" style="width:80%">
    <p>Use your hard-earned points to purchase coupons and vouchers for on-campus stores</p>
</article>
</section>

<style>
    .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4392e;
  padding: 5px;
    }
</style>

<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 3000);
    }
</script>

 <!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href